@font-face {font-family: "iconfont";
  src: url('./iconfont/iconfont.eot?t=1546587369526'); /* IE9 */
  src: url('./iconfont/iconfont.eot?t=1546587369526#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./iconfont/iconfont.woff?t=1546587369526') format('woff'),
  url('./iconfont/iconfont.ttf?t=1546587369526') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('./iconfont/iconfont.svg?t=1546587369526#iconfont') format('svg'); /* iOS 4.1- */
}

.icon {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-jiantou:before {
  content: "\e64a";
}

.icon-fanhui:before {
  content: "\e624";
}

.icon-sousuo:before {
  content: "\e632";
}

.icon-tupian:before {
  content: "\e692";
}


